<div class="sm:p-6 w-full max-w-screen-xl mx-auto">
  <mat-card class="company-card">
    <div
      class="header p-4"
      style="
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
      "
    >
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="outline"
        class="filter-field"
        style="flex: 1; min-width: 250px; max-width: 400px"
      >
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nom, code, domaine, email" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button
        (click)="openAddCompanyModal()"
        mat-flat-button
        color="accent"
        class="add-button"
        style="white-space: nowrap; height: 46px"
      >
        <mat-icon class="mr-2">add</mat-icon>
        {{ 'add_company' | translate }}
      </button>
    </div>

    <div class="table-container relative">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="domain">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Domaine</th>
          <td mat-cell *matCellDef="let element">{{ element.domain }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Telephone</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actif</th>
          <td mat-cell *matCellDef="let element">
            @if (element.enabled) {
              <mat-icon color="primary">check</mat-icon>
            } @else {
              <mat-icon style="color: #9e9e9e">close</mat-icon>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="bg-blue-90 hover:bg-blue-80 text-blue-10"
              mat-icon-button
              color="primary"
              (click)="openCompanyDetails(element.id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      @if (isLoading) {
        <div class="loading-shade">
          <mat-spinner diameter="40" />
        </div>
      }
    </div>

    <mat-paginator [pageSize]="5"></mat-paginator>
  </mat-card>
</div>
