/* You can add global styles to this file, and also import other style files */
@use 'styles/reboot';
@use 'styles/themes';
@use 'styles/colors';
@use 'styles/grid';
@use 'styles/helpers';
@use 'styles/plugins';
@use 'styles/custom';
@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-dialog-container {
  border-radius: 2px !important;
  padding: 24px !important;
}

.mdc-dialog__surface {
  border-radius: 2px !important;
  padding: 0 0 0 0 !important;
}

.mat-mdc-dialog-title {
  padding: 0 0 16px 0 !important;
}

.mat-mdc-dialog-content {
  padding: 0 0 !important;
  margin: 0 !important;
}

.mat-mdc-dialog-actions {
  padding: 0 16px 8px 8px !important;
  margin: 0 !important;
}
